<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voting Website</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="styles.css">
  <style>
    /* main{
        display: flex;
        justify-content: space-between;
        background-color: blue;
    } */
    .profile{
  
    position: absolute;
    /* left: 1000px; */
    top: 300px;
    width: 1200px;
    left: 1100px;
        
    }
</style>
</head>
<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Voting Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <button type="button" class="btn btn-success mr-2">Live Voting Count</button>
        <button type="button" class="btn btn-primary">Vote Now</button>
      </div>
    </div>
  </nav>
<main>
  <!-- Main Content -->
  <div class="side">
  <div class="container mt-3">
    <div class="row">
      <!-- News Section -->
      <div class="col-lg-8">
        <h2>Latest News</h2>
        <hr>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Headline Here</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel facilisis massa. Donec dictum arcu eu ante laoreet aliquam. Sed faucibus enim vel justo aliquam, eu sollicitudin felis bibendum. Integer dictum auctor augue, eu consequat enim bibendum nec.</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Headline Here</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel facilisis massa. Donec dictum arcu eu ante laoreet aliquam. Sed faucibus enim vel justo aliquam, eu sollicitudin felis bibendum. Integer dictum auctor augue, eu consequat enim bibendum nec.</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Headline Here<div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Headline Here
      </h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel facilisis massa. Donec dictum arcu eu ante laoreet aliquam. Sed faucibus enim vel justo aliquam, eu sollicitudin felis bibendum. Integer dictum auctor augue, eu consequat enim bibendum nec.</p>
                </div>
              </div>
            </div>
              <!-- User Profile Section -->


    <!-- Voting Button Section -->
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Cast Your Vote</h5>
        <hr>
        <form>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Candidate</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit Vote</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="profile">
<div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">User Profile</h5>
        <hr>
        <p class="card-text">Welcome, {{ name }}!</p>
        <!-- <p class="card-text">Your enrollment no. is : {{ roll }}!</p> -->
        <a href="#" class="btn btn-primary">Edit Profile</a>
      </div>
    </div>
</div>
</main>

<!-- Footer -->
<footer class="bg-dark text-white py-3">
  <div class="container text-center">
    <p>&copy; 2023 Voting Website</p>
  </div>
</footer>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
